# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.build/
dist/
.eggs/

# venvs
.venv/
venv/
.env/
.env.*/
.envrc
.conda/
.ipynb_checkpoints/

# OS/editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.code-workspace
